

.selected{
  background-color: tomato;
  cursor: not-allowed;
  pointer-events: none;
}
.not-click{
  cursor: not-allowed;
  pointer-events: none;
}

.matched{
  background: linear-gradient(110deg, #31d636 60%, #6edd79 60%) !important;
  cursor: not-allowed;
  pointer-events: none;
}


/* Optional: Style individual items */
.card {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  width: 70px;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  height: 90px;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
}

.open {
  animation-name: listOpen;
  animation-duration: 0.8s;
}

.close {
  animation-name: listClose;
  animation-duration: 0.8s;
}

@keyframes listOpen {
  from {
    opacity: 0;
    transform: rotateY(180deg);
  }
  to {
    opacity: 1;
    width: 70px;
    transform: translateX(0);
  }
}

@keyframes listClose {
  from {
    opacity: 1;
    transform: rotateY(180deg);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}