

.selected{
  background-color: tomato;
  cursor: not-allowed;
  pointer-events: none;
}
.not-click{
  cursor: not-allowed;
  pointer-events: none;
}

.matched{
  box-shadow: 1px 1px 20px #31d636;
  cursor: not-allowed;
  pointer-events: none;
}


/* Optional: Style individual items */
.card {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #282830, #e5e5f7), repeating-radial-gradient(circle at center center, #282830, #282830, 10px, transparent 20px, transparent 10px);
  background-blend-mode: multiply;
  width: 70px;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  height: 90px;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
}

.img{
  width: 69px;
  border-radius: 5px;
  height: 89px;
}

.open {
  animation-name: listOpen;
  animation-duration: 0.8s;
  background-image: none;
}

.close {
  animation-name: listClose;
  animation-duration: 0.8s;
}

@keyframes listOpen {
  from {
    opacity: 0;
    transform: rotateY(180deg);
  }
  to {
    opacity: 1;
    width: 70px;
    transform: translateX(0);
  }
}

@keyframes listClose {
  from {
    opacity: 1;
    transform: rotateY(180deg);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}