.selected {
  background-color: tomato;
  cursor: not-allowed;
  pointer-events: none;
}

.not-click {
  cursor: not-allowed;
  pointer-events: none;
}

.matched {
  box-shadow: 1px 1px 20px #31d636;
  cursor: not-allowed;
  pointer-events: none;
}


/* Optional: Style individual items */
.card {
  background-color: #e5e5f7;
  background: linear-gradient(135deg, #00000055 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #000000 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #00000055 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #000000 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
  width: 70px;
  display: flex;
  justify-content: center;
  border: 4px solid #fff;
  height: 90px;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
}

.img {
  width: 69px;
  border-radius: 5px;
  height: 89px;
}

.open {
  animation-name: listOpen;
  opacity: 1;
  animation-duration: 0.8s;
  background-image: none;
  background-color: #fff;
}

.close {
  animation-name: listClose;
  animation-duration: 0.8s;
}

@keyframes listOpen {
  from {
    opacity: 0;
    transform: rotateY(180deg);
  }

  to {
    opacity: 1;
    width: 70px;
    transform: translateX(0);
  }
}

@keyframes listClose {
  from {
    opacity: 1;
    transform: rotateY(180deg);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}